bcrypt
certifi
cffi
chardet
click
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
Pillow
protobuf
pycparser
six
SQLAlchemy
urllib3
Werkzeug
WTForms
gunicorn