{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/categories.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row categories">
        {% for category in categories %}
        <div class="col-10 col-sm-5 card category">
            <a href="{{url_for('category.show_category', category = category.name)}}">{{category.name}}</a>            
        </div>
        {% endfor %}
        
    </div>
</div>


{% endblock %}