{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/pitch.css')}}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="card pitch">
                <div class="row pt-4 pl-4">
                    <div class="col-2 col-sm-1">
                        <span class="material-icons pitch-img">account_circle</span>
                    </div>
                    <div class="col pitch-owner">
                        Grishon Gikima
                    </div>
                </div>
                <div class="row">
                    <div class="col pitch-message">
                        This is the whole pitch
                    </div>
                </div>
                <div class="row thumbs pb-4">
                    <div class="col-3 col-sm-2">
                        <span class="material-icons pitch-up">thumb_up_alt</span>
                        <div class="row up-counter">
                            <div class="col">
                                0
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2 thumb">
                        <span class="material-icons pitch-down">thumb_down_alt</span>
                        <div class="row down-counter">
                            <div class="col ">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card pitch">
                <div class="row pt-4 pl-4">
                    <div class="col-2 col-sm-1">
                        <span class="material-icons pitch-img">account_circle</span>
                    </div>
                    <div class="col pitch-owner">
                        Grishon Gikima
                    </div>
                </div>
                <div class="row">
                    <div class="col pitch-message">
                        This is the whole pitch
                    </div>
                </div>
                <div class="row thumbs pb-4">
                    <div class="col-3 col-sm-2">
                        <span class="material-icons pitch-up">thumb_up_alt</span>
                        <div class="row up-counter">
                            <div class="col">
                                0
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2 thumb">
                        <span class="material-icons pitch-down">thumb_down_alt</span>
                        <div class="row down-counter">
                            <div class="col ">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card pitch">
                <div class="row pt-4 pl-4">
                    <div class="col-2 col-sm-1">
                        <span class="material-icons pitch-img">account_circle</span>
                    </div>
                    <div class="col pitch-owner">
                        Grishon Gikima
                    </div>
                </div>
                <div class="row">
                    <div class="col pitch-message">
                        This is the whole pitch
                    </div>
                </div>
                <div class="row thumbs pb-4">
                    <div class="col-3 col-sm-2">
                        <span class="material-icons pitch-up">thumb_up_alt</span>
                        <div class="row up-counter">
                            <div class="col">
                                0
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2 thumb">
                        <span class="material-icons pitch-down">thumb_down_alt</span>
                        <div class="row down-counter">
                            <div class="col ">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>

{% endblock %}