.view-categories{
    font-size: 20px;
    margin-left: 24%;
    margin-top: 50%;
}
.modal{
    display: block;
    top: 40%;
}
.top-main{
    margin-top: 10%;
}
.section-two{
    margin-top: 15%;
}
.section-two-text{
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.top-main-img img{
    width: 100%;
}
.top-main-text{
    font-size: 24px;
    margin-top: 10%;
}
.sction-two-text{
    margin-top: 14%;
}
.text-capture{
    color: #5df212;
}
.heart{
    color: red;
}
@media screen and (min-width: 500px){
    .view-categories{
        font-size: 20px;
        margin-left: 40%;
        margin-top: 30%;
    }
    .top-main{
        margin-top: 8%;
    }
    .section-two{
        margin-top: 12%;
    }
    .section-two-text{
        margin-top: 6%;
        background-color: white;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .top-main-img img{
        width: 80%;
    }
    .top-main-text{
        margin-top: 3%;
        font-size: 36px;
    }
}