.pitch{
    
    font-size: 20px;
    margin-top: 4%;
    padding: 20px;
    /* text-align: center; */
    /* position: relative;  */
}
.pitch a{
    width: auto;
}
.pitch-writer{
    color: gray;
}
.pitch:hover{
    border: 1px solid #5df212;
    background-color: #fcfcfc;
    z-index: 5;
}
a:hover{
    text-decoration: none;
}
.pitches a{
    color: initial;
    padding: 0%;
}

.vote-up, .vote-down{
    position: absolute;
    bottom: 100%;
}

@media screen and (min-width: 600px){
    .pitches{
        margin-left: 5%;
    }
    .pitch{
        font-size: 20px;
        margin-top: 4%;
    }
}