{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/pitches.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row pitches">
        {% for pitch in pitches %}
        <div class="col-10">
            <a href="{{url_for('pitch.show_pitch', id= pitch['id'])}}">
                <div class="pitch card">
                    {{pitch['pitch']}}
                    <p class="mt-2 pitch-writer">By {{pitch['name']}}</p>
                </div>
            </a>
        </div>  
        {% endfor %}  
    </div>

</div>


{% endblock %}