{% extends 'base.html'%}
{% block content%}

<div class="container">
        <div class="row">
            <div class="col-md-2" id="sidebar">
                <table>
                    <tr>
                        <td class="b">
                            <img src="/static/images/b.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="l">
                                <img src="/static/images/l.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="o">
                                <img src="/static/images/o.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="g">
                                <img src="/static/images/g.png">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8">
                <h4>{{username}}Update Your Profile</h4>
                
            </div>
            
            <div class="col-md-2" id="quotes">
                
            </div>
        </div>
    </div>
{% endblock %}